<!DOCTYPE html>
<html lang="en">
<head>
   <%- include head %>
    <title>发布页面</title>
</head>
<body>
    <%- include("bar",{username:docs[0].username}) %>
    <div class="article">
        <form action="/articles/write" method="post">
            <input type="hidden" name="username" value="<%= docs[0].username%>">
            <input type="hidden" name="id" value="<%= docs[0]._id%>">

            <input type="text" name="title" placeholder="请输入文章标题" value="<%= docs[0].title %>">
            <textarea name="content" class="xheditor"><%- docs[0].content %></textarea>
            <% if(docs[0]._id) {%>
            <input type="submit" value="修改">
            <%}else{%>
            <input type="submit" value="发布">
            <%}%>
        </form>
    </div>

    <script src="/xheditor/jquery/jquery-1.4.4.min.js"></script>
    <script src="/xheditor/xheditor-1.2.2.min.js"></script>
    <script src="/xheditor/xheditor_lang/zh-cn.js"></script>
    <script>
        $(".xheditor").xheditor({
            tools:"full",
            skin:"default",
            upImgUrl: '/articles/upload',
            html5Upload: false,
            upMultiple: 1
        })
        
    </script>
</body>
</html>